<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Reddit Reader</h1>
    <h3>A service to aggregate all your favourite subreddits</h3>
  </header>
  <main> 
    <form action="read">
    <h4>
      Select the subreddits you're interested on:
    </h4>
    <ul>
      <li><input type="checkbox" name="javascript"> r/javascript</li>
      <li><input type="checkbox" name="reactjs"> r/reactjs</li>
      <li><input type="checkbox" name="reactnative"> r/reactnative</li>
      <li><input type="checkbox" name="programming"> r/programming</li>
      <li><input type="checkbox" name="css"> r/css</li>
      <li><input type="checkbox" name="golang"> r/golang</li>
      <li><input type="checkbox" name="flutter"> r/flutter</li>
      <li><input type="checkbox" name="rust"> r/rust</li>
      <li><input type="checkbox" name="django"> r/django</li>
    </ul>
    <button>Aggreagate</button>   
    </form>
 </main>
 
</body>

</html>